.list {
    padding-left: 1.5rem;
    margin-block: 0.75rem;
    list-style-type: decimal;
    font-size: 1rem;
    line-height: 1.625rem;

    & li {
        margin-block: 0.25rem;
        padding-left: 0.25rem;
    }

    & .list {
        margin-block: 0.25rem;
        list-style-type: lower-alpha;

        & .list {
            list-style-type: lower-roman;
        }
    }
}
